[Unit]
Description=HTTP Proxy with Tailscale
After=network-online.target

[Container]
Image=ghcr.io/jonohill/nas-proxy:29
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
Volume=./data/http_proxy:/config
Environment=TS_AUTHKEY=${PROXY_TS_AUTHKEY}
Environment=TS_HOST=${PROXY_TS_HOST}
Environment=TS_TAILNET=${PROXY_TS_TAILNET}

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
