[Unit]
Description=Download Secrets
Requires=network-online.target
After=network-online.target
Before=zfs-mount.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/download_secrets.sh

[Install]
WantedBy=multi-user.target
RequiredBy=zfs-mount.service
