[Unit]
Description=Download Secrets
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/download_secrets.sh

[Install]
WantedBy=multi-user.target 
