[Unit]
Description=Unlock Encrypted Data Disk %i
Requires=download-secrets.target
After=download-secrets.target
Requires=dev-disk-by-uuid-%i.device
After=dev-disk-by-uuid-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/unlock-data-disk.sh "/dev/disk/by-uuid/%i" "%I"

[Install]
WantedBy=multi-user.target
