[Unit]
Description=Load ZFS encryption keys
DefaultDependencies=no
After=zfs-import.target download-secrets.service systemd-tmpfiles-setup.service
Before=zfs-mount.service
Requires=download-secrets.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/zfs load-key -a

[Install]
WantedBy=multi-user.target
RequiredBy=zfs-mount.service
